<div class="container w-75">
  <div class="row">
    <div class="col-md-10 col-xs-12 offset-1">
      <%= render "cooks/shared/error" %>
      <%= form_with model: cook, local: true do |f| %>
      <div class="form-group">
        <label for="inputName">◆料理名</label><br>
        <%= f.text_field :name, class: "w-75" %><br>
      </div>
      <div class="form-group">
        <label for="inputComment">◆特徴</label><br>
        <%= f.text_field :comment, class: "w-75" %><br>
      </div>
      <div class="form-group">
        <label for="inputTime">◆調理時間</label><br>
        <%= f.text_field :cooking_time, class: "w-25" %>&emsp;<span>分</span><br>
      </div>
      <div class="form-group">
        <label for="inputGenre">◆ジャンル</label><br>
        <%= f.select :cook_genre, Cook.cook_genres_i18n.keys.map {|k| [I18n.t("enums.cook.cook_genre.#{k}"), k]}, { include_blank: '選択してください'}, class: "w-25" %><br>
      </div>
      <div class="form-group">
        <label for="inputItem">◆調理道具</label><br>
        <%= f.select :cook_item, Cook.cook_items_i18n.keys.map {|k| [I18n.t("enums.cook.cook_item.#{k}"), k]}, { include_blank: '選択してください'}, class: "w-25" %><br>
      </div>
      <div class="form-group">
        <label for="inputMaterial">◆材料 ※8種類上の場合は調理方法欄に追記</label><br>
          <%= f.fields_for :materials do |material_fields| %>
          <div class="material-container">
            <div class="material-box">
              <%= material_fields.text_field :material, placeholder: "食材、調味料等", class: "mr-5" %>
            </div>
            <div class="qty-box">
              <%= material_fields.text_field :qty, placeholder: "分量", class: "mr-5" %>
            </div>
          </div>
          <% end %><br>
      </div>
        <div class="form-group">
          <label for="inputMethod">◆調理方法</label><br>
          <%= f.text_area :cooking_method, size: "60x5", class: "w-75"  %><br>
        </div>
        <div class="form-group post-image">
          <label for="inputImage">◆料理画像</label><br>
          <%= f.attachment_field :image, class: "text-dark" %><br>
        </div>
          <%= f.submit "投稿する", class: "w-75" %>
      <% end %>
    </div>
  </div>
</div>