<% content_for(:title, '投稿詳細 | CamFoo') %>
<div class="show-image">
  <div class="bg-rgba">
    <h2>Recipe</h2>
  </div>
</div>

<div>
  <div class="btn-show">
    <div>
    <% if @cook.user == current_user %>
      <%= link_to "編集する", edit_cook_path(@cook) ,class: "btn btn-sm btn-dark py-1" %>&emsp;
      <%= link_to "削除する", cook_path(@cook) ,class: "btn btn-danger btn-sm py-1", method: :delete, data:{ confirm: '本当に削除して良いですか?',cancel: 'やめる',commit: '削除する'}, title: '削除確認' %>
    <% end %>
    </div>
  </div>
  <h4 class="recipe-title"><%= @cook.name %></h4>
  <div class="recipe-container">
    <section class="title-box-show">
      <%= attachment_image_tag @cook, :image, :fill, 300, 200 %><br>
      <span>調理時間: <%= @cook.cooking_time %>分</span><br>
      <span>ジャンル: <%= @cook.cook_genre_i18n %></span><br>
      <span>調理道具: <%= @cook.cook_item_i18n %></span><br>
    </section>
    <section class="material-box-show <%= @cook.id %>">
      <p><%= @cook.comment %></p>
      <span class="material-tag">材料</span><br>
      <table class="table table-sm w-100 ">
        <thead>
          <tr>
            <th>食材・調味料</th>
            <th>分量</th>
          </tr>
        </thead>
        <tbody class="border-bottom">
          <% @materials.each do |material| %>
          <tr>
            <td><%= material.material %></td>
            <td><%= material.qty %></td>
          </tr>
          <% end %><br>
        </tbody>
      </table>

      <span class="like-btn"><%= render "likes/like", obj: @cook %></span>
      <span class="bookmark-btn"><%= render "bookmarks/bookmark", obj: @cook %></span>

    </section>
  </div>
  <div class="cooking-method-box">
    <h4>作り方</h4>
    <div><%= simple_format(@cook.cooking_method) %></div>
  </div>
</div>
