<% @articles.each do |article| %>
<div class="article-container">
  <div class="mb-3">
  <%= link_to article_path(article) do %>
    <%= image_tag article.article_image.url, size: "300x180" %>
  <% end %>
  </div>
  <div class="article-title">
    <span><%= article.title %></span><br><span class="topic-box"><%= article.topic_i18n %></span>
  </div>
</div>
<% end %>
<div class="paginate"><%= paginate @articles %></div>