<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h4><%= @user.last_name %><%= @user.first_name %>様、CamFooへようこそ!</h4>
      <p>ご登録頂きありがとうございます。CamFooは年会費無料でご利用頂けます。</p>
      <p>アカウント名: <%= @user.account %></p>
      <p>登録メールアドレス: <%= @user.email %></p>
      <p>マイページ: <%= @url %></p>
      <p>早速オリジナルキャンプめしを共有しよう！</p>
  </body>
</html>