<% content_for(:title, 'マイページ | CamFoo') %>
<div class="mypage-image">
  <div class="container mt-0">
    <div class="row">
      <div class="col-10 offset-1">
      <%= attachment_image_tag @user, :account_image, :fill, 100, 100, fallback: "no_image.jpg" %><br>
      <%= current_user.account %><br>
      <%= current_user.fullname%><br>
    <% if @user == current_user %>
      <%= current_user.email%><br>
    <% end %>
    <i class="far fa-thumbs-up"></i> <%= @user.likes.count %>いいね&emsp;
    <% if @user == current_user %>
      <%= link_to edit_user_path(current_user), class: "text-white" do %>
        <i class="fas fa-user-cog"></i>
        <span>編集</span>&emsp;
      <% end %>
      <%= link_to user_path(current_user), method: :delete, data:{ confirm: '本当に退会して良いですか?',cancel: 'やめる',commit: '退会する'}, title: '退会確認', class: "text-white" do %>
        <i class="fas fa-door-open"></i>
        <span>退会</span>
      <% end %>
    <% end %>
      </div>
    </div>
  </div>
</div>


<div class="container mt-5">
  <div class="row">
    <div class="col-10 offset-1">
      <h4>投稿履歴</h4>
    </div>
  </div>
  <div class="row">
  <% @cooks.each do |cook| %>
    <div class="col-3 offset-1">
      <div class="card shadow-lg">
        <%= link_to cook_path(cook) do %>
          <%= attachment_image_tag cook, :image, :fill, 200, 150, class:"card-img-top"; %>
        <% end %>
        <div class="card-body">
          <h5 class="card-title">◆<%= cook.name %></h5>
          <%= link_to "詳細を見る", cook_path(cook), class: "btn btn-dark" %>
        </div>
      </div>
    </div>
  <% end %>
  </div>
</div>
