<% content_for(:title, 'パスワード変更 | CamFoo') %>
<div class="pass-image">
  <div class="bg-rgba">
    <h2>パスワード変更</h2>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-10 offset-1 mx-auto text-center">
      <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>
        <%= f.hidden_field :reset_password_token %>
        <div class="field">
          <div class="form-group login-form">
            <%= f.label :password, "新しいパスワード" %><br />
            <% if @minimum_password_length %>
              <em>(<%= @minimum_password_length %> 文字以上必須)</em><br />
            <% end %>
            <%= f.password_field :password, autofocus: true, autocomplete: "new-password", class: " text-center login-mobile" %>
          </div>
        </div>
        <div class="field">
          <div class="form-group login-form">
            <%= f.label :password_confirmation, "パスワード確認" %><br />
            <%= f.password_field :password_confirmation, autocomplete: "new-password", class: " text-center login-mobile" %>
          </div>
        </div>
        <div class="actions">
          <%= f.submit "変更する", class: " text-center login-mobile" %>
        </div>
      <% end %>
      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>
