<h5 class="cook-item">Cooks</h5>
<li>
  <%= link_to net_cooks_path do %>
    <div><span class="side-fas">網で作る</span></div>
  <% end %>
</li>
<li>
  <%= link_to plate_cooks_path do %>
    <div><span class="side-fas">鉄板で作る</span></div>
  <% end %>
</li>
<li>
  <%= link_to pan_cooks_path do %>
  <div><span class="side-fas">フライパンで作る</span></div>
  <% end %>
</li>
<li>
  <%= link_to pot_cooks_path do %>
    <div><span class="side-fas">鍋で作る</span></div>
  <% end %>
</li>
<li>
  <%= link_to dutch_oven_cooks_path do %>
    <div><span class="side-fas">ダッチオーブンで作る</span></div>
  <% end %>
</li>
<li>
  <%= link_to other_cooks_path do %>
    <div><span class="side-fas">その他</span></div>
  <% end %>
</li>