<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for?(:title) ? yield(:title) : "CamFoo" %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport" />
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= favicon_link_tag('logo.ico') %>

  </head>

  <body>
      <header>
        <%= link_to root_path do%>
          <p class="app-name">CAM x FOO</p>
        <% end %>
        <div class="search-box">
          <%= search_form_for @q, url: search_index_cooks_path do |f| %>
          <div class="input-group">
            <%= f.text_field :name_or_comment_or_cooking_method_cont_any, placeholder: "料理名等で検索", class: "search-field" %>
            <span class="input-group-btn">
            <%= button_tag type: 'submit', class: "btn py-0 px-1 btn-field" do %>
            <i class="fas fa-search"></i>
            <% end %>
            </span>
          </div>
          <% end %>
        </div>
      </header>
    <div class="main-view">
      <input id="menu" type="checkbox">
      <label for="menu" class="open">
        <div class="hamburger">
          <span></span>
        </div>
      </label>
      <label for="menu" class="back"></label>
      <aside>
        <label for="menu" class="close">×</label>
      <% if user_signed_in? %>
        <nav>
          <%= render "layouts/search_mobile" %>
          <ul>
            <li>
              <%= link_to root_path, class: "hover" do %>
                <div><i class="fas fa-home fa-fw side-fas"></i> &emsp;<span class="side-text">ホーム</span></div>
              <% end %>
            </li>
            <li>
              <%= link_to user_path(current_user), class: "hover" do %>
                <div><i class="fas fa-user fa-fw side-fas"></i> &emsp;<span class="side-text">マイページ</span></div>
              <% end %>
            </li>
            <li>
              <%= link_to bookmark_cooks_path do %>
                <div><i class="fas fa-bookmark fa-fw side-fas"></i> &emsp;<span class="side-text">お気に入り</span></div>
              <% end %>
            </li>
            <li>
            <% if unchecked_notifications.any? %>
              <%= link_to notifications_path do %>
                <div class="fa-layyers">
                  <i class="fas fa-bell fa-fw side-fas"></i> &emsp;<span class="side-text">通知</span>
                  <i class="fas fa-fire fire-size"></i>
                </div>
              <% end %>
            <% else %>
              <%= link_to notifications_path do %>
                <div><i class="fas fa-bell fa-fw side-fas"></i> &emsp;<span class="side-text">通知</span></div>
              <% end %>
            <% end %>
            </li>
            <li>
              <%= link_to new_cook_path do %>
                <div><i class="fas fa-utensils fa-fw side-fas"></i> &emsp;<span class="side-text">新規投稿</span></div>
              <% end %>
            </li>
            <li>
              <%= link_to rank_cooks_path do %>
                <div><i class="fas fa-medal fa-fw side-fas"></i> &emsp;<span class="side-text">ランキング</span></div>
              <% end %>
            </li>
            <li>
              <%= link_to cooks_path do %>
                <div><i class="fas fa-list fa-fw side-fas"></i> &emsp;<span class="side-text">料理一覧</span></div>
              <% end %>
            </li>
            <li>
              <%= link_to articles_path do %>
                <div><i class="fas fa-campground fa-fw side-fas"></i> &emsp;<span class="side-text">キャンプコラム</span></div>
              <% end %>
            </li>
            <li>
              <%= link_to destroy_user_session_path, method: :delete do %>
                <div><i class="fas fa-sign-out-alt fa-fw side-fas"></i> &emsp;<span class="side-text">ログアウト</span></div>
              <% end %>
            </li>
            <%= render "layouts/cookitem_list" %>
          </ul>
        </nav>
      <% else %>
        <nav>
          <%= render "layouts/search_mobile" %>
          <ul>
            <li>
            <div>
              <%= link_to root_path do %>
                <div><i class="fas fa-home fa-fw side-fas"></i> &emsp;<span class="side-text">ホーム</span></div>
              <% end %>
            </div>
            </li>
            <li>
              <%= link_to cooks_path do %>
                <div><i class="fas fa-list fa-fw side-fas"></i> &emsp;<span class="side-text">料理一覧</span></div>
              <% end %>
            </li>
            <li>
              <%= link_to articles_path do %>
                <div><i class="fas fa-campground fa-fw side-fas"></i> &emsp;<span class="side-text">キャンプコラム</span></div>
              <% end %>
            </li>
            <%= render "layouts/cookitem_list" %>
          </ul>
        </nav>
      <% end %>
        <div class="side-footer">
          ©2021 Cam Foo
        </div>
      </aside>
      <main>
        <%= yield %>
      </main>
    </div>
  </body>
</html>
