<!DOCTYPE html>
<html>
  <head>
    <title>CanFoo</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if user_signed_in? %>
    <header></header>
    <div class="main-view">
      <input id="menu" type="checkbox" >
      <label for="menu" class="back"></label>
      <label for="menu" class="open">◎</label>
      <aside>
        <label for="menu" class="close">×</label>
        <nav>
          <ul>
            <li>
              <%= link_to root_path do %>
                <i class="fas fa-home text-dark icon"> ホーム</i>
              <% end %>
            </li>
            <li>
              <%= link_to destroy_user_session_path, method: :delete do %>
                <i class="fas fa-sign-out-alt text-dark icon"> ログアウト</i>
              <% end %>
            </li>
            <li>
              <%= link_to do %>
                <i class="fas fa-user text-dark icon""> マイページ</i>
              <% end %>
            </li>
            <li>
              <%= link_to do %>
                <i class="fas fa-bookmark text-dark icon""> お気に入り</i>
              <% end %>
            </li>
            <li>
              <%= link_to do %>
                <i class="fas fa-bell text-dark icon""> 通知</i>
              <% end %>
            </li>
            <li>list6</li>
          </ul>
        </nav>
        <div class="side-footer">
          sidefooter
        </div>
      </aside>
      <main>
        <%= yield %>
      </main>
    </div>
    <% else %>
    <header></header>
    <div class="main-view">
      <input id="menu" type="checkbox" >
      <label for="menu" class="open"> o</label>
      <label for="menu" class="back"></label>
      <aside>
        <label for="menu" class="close">×</label>
        <nav>
          <ul>
            <li>list1</li>
            <li>list2</li>
            <li>list3</li>
            <li>list4</li>
            <li>list5</li>
            <li>list6</li>
          </ul>
        </nav>
        <div class="side-footer">
          sidefooter
        </div>
      </aside>
      <main>
        <%= yield %>
      </main>
    </div>
    <% end %>
  </body>
</html>
