<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for?(:title) ? yield(:title) : "CanFoo" %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if user_signed_in? %>
      <input id="menu" type="checkbox" >
      <label for="menu" class="back"></label>
      <label for="menu" class="open navbar-toggler"><span class="navbar-toggler-icon"></span></label>
      <aside>
        <label for="menu" class="close">×</label>
        <nav>
          <ul>
            <li>
              <%= link_to root_path do %>
                <i class="fas fa-home text-dark"> &emsp;ホーム</i>
              <% end %>
            </li>
            <li>
              <%= link_to user_path(current_user) do %>
                <i class="fas fa-user text-dark""> &emsp;マイページ</i>
              <% end %>
            </li>
            <li>
              <%= link_to do %>
                <i class="fas fa-bookmark text-dark""> &emsp;お気に入り</i>
              <% end %>
            </li>
            <li>
              <%= link_to do %>
                <i class="fas fa-bell text-dark""> &emsp;通知</i>
              <% end %>
            </li>
            <li>
              <%= link_to new_cook_path do %>
                <i class="fas fa-utensils text-dark"> &emsp;新規投稿</i>
              <% end %>
            </li>
            <li>
              <%= link_to destroy_user_session_path, method: :delete do %>
                <i class="fas fa-sign-out-alt text-dark"> &emsp;ログアウト</i>
              <% end %>
            </li>
          </ul>
        </nav>
        <div class="side-footer">
          sidefooter
        </div>
      </aside>
      <main>
        <div class="header">

        </div>
        <%= yield %>
      </main>
    <% else %>
      <input id="menu" type="checkbox" >
      <label for="menu" class="open"> o</label>
      <label for="menu" class="back"></label>
      <aside>
        <label for="menu" class="close">×</label>
        <nav>
          <ul>
            <li>
              <i class="fas fa-home text-dark"> &emsp;ホーム</i>
            </li>
            <li>list2</li>
            <li>list3</li>
            <li>list4</li>
            <li>list5</li>
            <li>list6</li>
          </ul>
        </nav>
        <div class="side-footer">
          sidefooter
        </div>
      </aside>
      <main>
        <div class="header">

        </div>
        <%= yield %>
      </main>
    <% end %>
  </body>
</html>
