<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for?(:title) ? yield(:title) : "CanFoo" %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport" />
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
      <header>
        <p>CAM x FOO</p>
        <div class="search-box">
          <%= search_form_for @q, url: search_index_cooks_path do |f| %>
            <%= f.text_field :name_cont, placeholder: "料理名で検索", class: "search-field" %>
            <%= f.submit "検索", class: "btn pt-0 pb-0 pl-1 pr-1 mb-1 btn-field" %>
          <% end %>
        </div>
      </header>
      <div class="main-view">
      <input id="menu" type="checkbox">
      <label for="menu" class="open">
        <div class="hamburger">
          <span></span>
        </div>
      </label>
      <label for="menu" class="back"></label>
      <aside>
        <label for="menu" class="close">×</label>
    <% if user_signed_in? %>
        <nav>
          <ul>
          <li>
            <div class="search-box-mobile">
              <%= search_form_for @q, url: search_index_cooks_path do |f| %>
                <%= f.text_field :name_cont, placeholder: "料理名で検索", class: "search-field" %>
                <%= f.submit "検索", class: "btn pt-0 pb-0 pl-1 pr-1 mb-1 btn-field" %>
              <% end %>
            </div>
          </li>
            <li>
              <%= link_to root_path do %>
                <i class="fas fa-home side-fas"> &emsp;ホーム</i>
              <% end %>
            </li>
            <li>
              <%= link_to user_path(current_user) do %>
                <i class="fas fa-user side-fas"> &emsp;マイページ</i>
              <% end %>
            </li>
            <li>
              <%= link_to bookmark_cooks_path do %>
                <i class="fas fa-bookmark side-fas"> &emsp;お気に入り</i>
              <% end %>
            </li>
            <li>
            <% if unchecked_notifications.any? %>
              <%= link_to notifications_path do %>
                <i class="fas fa-bell side-fas">
                <i class="fas fa-circle"></i> &emsp;通知</i>
              <% end %>
            <% else %>
              <%= link_to notifications_path do %>
                <i class="fas fa-bell side-fas"> &emsp;通知</i>
              <% end %>
            <% end %>
            </li>
            <li>
              <%= link_to new_cook_path do %>
                <i class="fas fa-utensils side-fas"> &emsp;新規投稿</i>
              <% end %>
            </li>
            <li>
              <%= link_to rank_cooks_path do %>
                <i class="fas fa-medal side-fas"> &emsp;ランキング</i>
              <% end %>
            </li>
            <li>
              <%= link_to cooks_path do %>
                <i class="fas fa-list side-fas"> &emsp;料理一覧</i>
              <% end %>
            </li>
            <li>
              <%= link_to destroy_user_session_path, method: :delete do %>
                <i class="fas fa-sign-out-alt side-fas"> &emsp;ログアウト</i>
              <% end %>
            </li>
            <h5 class="cook-item">調理道具から選ぶ</h5>
            <li>
              <%= link_to "網で作る", net_cooks_path, class: "side-fas" %>
            </li>
            <li>
              <%= link_to "鉄板で作る", plate_cooks_path, class: "side-fas" %>
            </li>
            <li>
              <%= link_to "フライパンで作る", pan_cooks_path, class: "side-fas" %>
            </li>
            <li>
              <%= link_to "鍋で作る", pot_cooks_path, class: "side-fas" %>
            </li>
            <li>
              <%= link_to "ダッチオーブンで作る", dutch_oven_cooks_path, class: "side-fas" %>
            </li>
            <li>
              <%= link_to "その他", other_cooks_path, class: "side-fas" %>
            </li>
          </ul>
        </nav>
    <% else %>
        <nav>
          <ul>
            <li>
              <div class="search-box-mobile">
                <%= search_form_for @q, url: search_index_cooks_path do |f| %>
                  <%= f.text_field :name_cont, placeholder: "料理名で検索", class: "search-field" %>
                  <%= f.submit "検索", class: "btn pt-0 pb-0 pl-1 pr-1 mb-1 btn-field" %>
                <% end %>
              </div>
            </li>
            <li>
              <%= link_to root_path do %>
                <i class="fas fa-home side-fas"> &emsp;ホーム</i>
              <% end %>
            </li>
            <li>list2</li>
            <li>list3</li>
            <li>list4</li>
            <li>list5</li>
            <li>
              <%= link_to rank_cooks_path do %>
                <i class="fas fa-medal side-fas"> &emsp;ランキング</i>
              <% end %>
            </li>
            <li>
              <%= link_to cooks_path do %>
                <i class="fas fa-list side-fas"> &emsp;料理一覧</i>
              <% end %>
            </li>
            <h5 class="pl-3 cook-item">調理道具から選ぶ</h5>
            <li>
              <%= link_to "網で作る", net_cooks_path, class: "side-fas" %>
            </li>
            <li>
              <%= link_to "鉄板で作る", plate_cooks_path, class: "side-fas" %>
            </li>
            <li>
              <%= link_to "フライパンで作る", pan_cooks_path, class: "side-fas" %>
            </li>
            <li>
              <%= link_to "ダッチオーブンで作る", dutch_oven_cooks_path, class: "side-fas" %>
            </li>
            <li>
              <%= link_to "その他", other_cooks_path, class: "side-fas" %>
            </li>
          </ul>
        </nav>
    <% end %>
        <div class="side-footer">
          sidefooter
        </div>
      </aside>
      <main>

        <%= yield %>
      </main>
      </div>
  </body>
</html>
